// clouds
// clear

// variables
$font-family: 'Roboto', sans-serif
$margin-percentage: 2%
$primary-color: #1976d2
$primary-margin: 0px
// $primary-background-color: #FFFFFF
$secondary-color: #d3d3d3

// extensions
%display-flex
  display: flex
  flex-direction: row

%border-shared
  // border-style: groove
  border-radius: 10px
  font-family: $font-family

%container-shared
  font-family: $font-family
  margin: $margin-percentage